.uiSelect {
  height: 50px;
  background: #F5F8FA;
  border-radius: 8px;
  padding: 17px 18px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 21px;
  cursor: pointer;
} 

.uiSelect-input{ 
  cursor: pointer;
  width: 100%;
  margin-right: 20px;
  background: #F5F8FA;
  border: none;
  outline: none;
  color: #A2A2A2;
}

.uiSelect-input::placeholder{  
  color: #A2A2A2;
} 

.uiSelect-arrow{  
  position: absolute;
  right: 11px;
  top: calc(50% - 5.5px);
} 

.uiSelect-arrow rect{  
  fill: transparent;
} 

.uiSelect-error {
  position: absolute; 
  color: #E82828;
  font-size: 10px;
  left: 18px;
  top: calc(100% + 2px);
} 

.uiSelect-list {
  z-index: 2;
  background: #fff;
  position: absolute;
  left: 0;
  top: calc(100% + 6px);
  width: 100%;
  list-style-type: none;
  box-shadow: 0px 3px 8px #00000026;
  border-radius: 8px;
}
.uiSelect-list-li {
  padding-left: 19px;
  line-height: 36px;
}
.uiSelect-list-li:hover {
  background: #f7f8f8;
}
.uiSelect-list-li--selected {
  background: #F5F8FA;
}
.uiSelect-list-li:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.uiSelect-list-li:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}