.uiCheckbox {
  margin-bottom: 21px;
  color: #222222;
  position: relative;
  display: flex; 
  align-items: center;
}  

.uiCheckbox-error {
  position: absolute; 
  color: #E82828;
  font-size: 10px;
  left: 18px;
  top: calc(100% + 2px);
} 

.uiCheckbox-box {
  width: 14px;
  height: 14px; 
  border: 1px solid #0094FF;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
} 

.uiCheckbox-box > span {
  color: #0094FF;
  width: 100%;
  height: 100%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
} 