.uiTextInput {
  height: 50px;
  background: #F5F8FA;
  border-radius: 8px;
  padding: 17px 18px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 21px;
} 

.uiTextInput-input{ 
  background: #F5F8FA;
  border: none;
  outline: none;
  color: #A2A2A2;
  width: 100%;
}


.uiTextInput-input::placeholder{  
  color: #A2A2A2;
}

.uiTextInput-icon path{  
  fill: #a2a2a2;
} 

.uiTextInput-icon {
  background: #F5F8FA;
  border-radius: 8px; 
  color: #A2A2A2;
  font-size: 14px;
  margin-right: 14px;
  width: 20px;
  height: 16px;
} 

.uiTextInput-error {
  position: absolute; 
  color: #E82828;
  font-size: 10px;
  left: 18px;
  top: calc(100% + 2px);
} 