.SignUp{
  min-height: 100vh;
  background: #d6d6d6; 
  display: flex;
  justify-content: center;
  align-items: center;
} 

.SignUp-form{ 
  width: 400px;
  position: relative;
}

.SignUp-h1{
  text-align: center;
  margin-bottom: 37px;
}

.SignUp-checkbox a{
text-decoration: none;
 color: #0094FF;
 cursor: pointer;
}

.SignUp-checkbox{
 margin-bottom: 37px;
}