.uiButton-wrap{
  height: 62px; 
  position: relative;
}

.uiButton {
  height: 100%;
  width: 100%;
  background: #A2A2A2;
  border-radius: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: none;
  color: #FFFFFF;
  outline: none;
}  

.uiButton-loading{
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
} 

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

.uiButton-active:hover{
  transition: all 0.2s;
  opacity: 0.9;
}

.uiButton-active {
  background: #0094FF; 
  cursor: pointer;
}  