.uiRadio {
  margin-bottom: 21px;
  color: #222222;
  position: relative;
} 

.uiRadio-one {
  cursor: pointer;
}

.uiRadio-one:not(:last-of-type){
  margin-right: 35px;
}

.uiRadio-one > input{
  display: none;
} 

.uiRadio-error {
  position: absolute; 
  color: #E82828;
  font-size: 10px;
  left: 18px;
  top: calc(100% + 2px);
} 

.uiRadio-circle { 
  display: inline-block;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  border: 1px solid #0094FF;
  margin-right: 8px;
  position: relative;
}

.uiRadio-circle::after {
  position: absolute;
  border-radius: 100%;
  left: calc(50% - 4px);
  top: calc(50% - 4px);
  width: 8px;
  height: 8px;
  display: none;
  content: '';
  background: #0094FF;
}

.uiRadio-circle--selected::after {
  display: block;
}